@model BlogEditViewModel

@{
    ViewData["Title"] = "Edit";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/github.min.css" integrity="sha512-0aPQyyeZrWj9sCA46UlmWgKOP0mUipLQ6OZXu8l4IcAmD2u31EPEy9VcIMvl7SoAaKe8bLXZhYoMaE/in+gcgA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<style>
    .control-label {
        font-size: xx-large;
    }
</style>
<h4>Blog - Edit</h4>
<hr/>
<div>
    <a class="btn btn-primary" asp-action="Index">Back to List</a>
    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal">
        Delete
    </button>
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Are you sure you want to delete this blog ?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">No</button>
                    <form asp-action="Delete" method="post" asp-route-id="@Model.Blog.Id">
                        <button class="btn btn-danger" type="submit" value="Submit">Yes</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-md-12">
        <form>
            <input type="hidden" asp-for="@Model.Blog.Id"/>
            <div class="form-group mt-3">
                <label asp-for="@Model.Blog.Slug" class="control-label mt-3"></label>
                <input asp-for="@Model.Blog.Slug" class="form-control" readonly/>
            </div>
            <div class="form-group mt-3">
                <label asp-for="@Model.Blog.Name" class="control-label mt-3"></label>
                <input asp-for="@Model.Blog.Name" class="form-control"/>
            </div>
            <div class="form-group mt-3">
                <label asp-for="@Model.Blog.Created" class="control-label mt-3"></label>
                <input asp-for="@Model.Blog.Created" class="form-control"/>
            </div>
            <div class="form-check mt-3 float-end">
                <input class="form-check-input" type="checkbox" asp-for="@Model.Blog.Draft">
                <label class="form-check-label" asp-for="@Model.Blog.Draft">
                    Draft
                </label>
            </div>
            <div class="form-group mt-3" id="note-content">
                <label asp-for="@Model.Blog.Content" class="control-label mt-3"></label>
                <input asp-for="@Model.Blog.Content" class="form-control" hidden/>
                <div id="editorContent" style="height: 300px;">
                    @Html.Raw(@Model.Blog.Content)
                </div>
            </div>

        </form>
    </div>
</div>


@section Scripts {
    <script>
      
        window.addEventListener('load', (event) => {
            var curBlogId = $("#Blog_Id").val();
            
            $("#Blog_Created").keyup(function () {
                if (curTimeOutBlogName !== null) {
                    clearTimeout(curTimeOutBlogName);
                }
                curTimeOutBlogName = setTimeout(function () {
                    $.ajax({
                        url: "/api/Blogs/BlogCreated/" + curBlogId,
                        dataType: 'text',
                        type: 'post',
                        contentType: 'application/json',
                        data: JSON.stringify({ "date": document.getElementById('Blog_Created').value }),
                        success: function (data, textStatus, jQxhr) {
                        },
                        error: function (jqXhr, textStatus, errorThrown) {
                            alertify.message("Could not save change", 1000);
                        }
                    });
                }, 500);
            });
            
            $("#Blog_Draft").click(function () {
                if (curTimeOutBlogName !== null) {
                    clearTimeout(curTimeOutBlogName);
                }
                curTimeOutBlogName = setTimeout(function () {
                    $.ajax({
                        url: "/api/Blogs/BlogDraft/" + curBlogId,
                        dataType: 'text',
                        type: 'post',
                        contentType: 'application/json',
                        data: JSON.stringify({ "draft": document.getElementById('Blog_Draft').checked }),
                        success: function (data, textStatus, jQxhr) {
                        },
                        error: function (jqXhr, textStatus, errorThrown) {
                            alertify.message("Could not save change", 1000);
                        }
                    });
                }, 500);
            });
            
            var curTimeOutBlogName = null;
            $("#Blog_Name").keyup(function () {
                if (curTimeOutBlogName !== null) {
                    clearTimeout(curTimeOutBlogName);
                }
                curTimeOutBlogName = setTimeout(function () {
                    $.ajax({
                        url: "/api/Blogs/BlogName/" + curBlogId,
                        dataType: 'text',
                        type: 'post',
                        contentType: 'application/json',
                        data: JSON.stringify({ "name": $("#Blog_Name").val() }),
                        success: function (data, textStatus, jQxhr) {
                        },
                        error: function (jqXhr, textStatus, errorThrown) {
                            alertify.message("Could not save change", 1000);
                        }
                    });
                }, 500);
            })


            var toolbarOptions = [
                ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
                ['blockquote', 'code-block'],
                [{ 'header': 1 }, { 'header': 2 }],               // custom button values
                [{ 'list': 'ordered' }, { 'list': 'bullet' }],
                [{ 'script': 'sub' }, { 'script': 'super' }],      // superscript/subscript
                [{ 'indent': '-1' }, { 'indent': '+1' }],          // outdent/indent
                [{ 'direction': 'rtl' }],                         // text direction
                [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
                [{ 'font': [] }],
                [{ 'align': [] }],
                ['clean']                                  ,       // remove formatting button
                ['code-block']
            ];
            hljs.configure({   // optionally configure hljs
              languages: ['javascript', 'java']
            });
            var quillDocs = new Quill('#editorContent', {
                theme: 'snow',
                modules: {
                    toolbar: toolbarOptions,
                    syntax: true, 
                },
            });

            var curTimeOutBlogContent = null;
            quillDocs.on('text-change', function (delta) {
                $("#Blog_Content").val(quillDocs.root.innerHTML);
                if (curTimeOutBlogContent !== null) {
                    clearTimeout(curTimeOutBlogContent);
                }
                curTimeOutBlogContent = setTimeout(function () {
                    $.ajax({
                        url: "/api/Blogs/BlogContent/" + curBlogId,
                        dataType: 'text',
                        type: 'post',
                        contentType: 'application/json',
                        data: JSON.stringify({ "content": $("#Blog_Content").val() }),
                        success: function (data, textStatus, jQxhr) {
                        },
                        error: function (jqXhr, textStatus, errorThrown) {
                            alertify.message("Could not save change", 1000);
                        }
                    });
                }, 500);
            });

        });
    </script>
}