@model List<Snips.Models.BlogDTO>

<link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.css">

<div class="spacer">

</div>
<div class="row">
    <div class="col-4">
        <h1>Blog - Index</h1>
    </div>
    <div class="col-7">

    </div>
    <div class="col-1">
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </div>
</div>
<div class="spacer">

</div>
<div class="row">
    <div class="col-2">

    </div>
    <div class="col-8 mt-3">
        <form asp-action="Search">

            <div class="form-group">
                <label name="SearchTerm" class="control-label mt-2">Search Terms - Server</label>
                <input name="SearchTerm" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label mt-2">Created Date</label>
                <input name="CreatedDate" type="date" class="form-control"/>
            </div>
            <div class="form-group">
                <label class="control-label mt-2">Last Modified Date</label>
                <input name="LastModifiedDate" type="date" class="form-control"/>
            </div>
            <div class="form-group mt-3 float-end">
                <input type="submit" value="Search" class="btn btn-primary"/>
                <a asp-controller="Blogs" asp-action="Index" class="btn btn-primary">Reset Search</a>
            </div>
        </form>
    </div>
    <div class="col-2">

    </div>

</div>
<div class="spacer">

</div>
<div class="mt-3">
    <table id="table"
           data-toggle="table"
           data-height="700"
           data-pagination="true"
           class="table">
        <thead>
        <tr>
            <th data-field="Name" data-sortable="true">
                Name
            </th>
            <th data-field="Draft" data-sortable="true">
                Draft
            </th>
            <th data-field="Deleted" data-sortable="true">
                Deleted
            </th>
            <th data-field="Created" data-sortable="true">
                Created At
            </th>
            <th data-field="LastModified" data-sortable="true">
                Last Modified
            </th>
        </tr>
        </thead>
        <tbody>
        @for (int i = 0; i < Model.Count(); i++)
        {
            <tr id="tr-id-@i" class="tr-class-@i" data-title="bootstrap table" data-object='{"key": "value"}'>
                <td id="td-id-@i" class="td-class-@i" data-title="bootstrap table">
                    <a asp-action="Edit" asp-route-id="@Model[i].Id">@Html.DisplayFor(modelItem => Model[i].Name)</a>
                </td>
                <td>
                    <p>@Model[i].Draft</p>
                </td>
                <td>
                    <p>@Model[i].Deleted</p>
                </td>
                <td>
                    @if (Model[i].Created == new DateTime())
                    {
                        <p>N/A</p>
                    }
                    else
                    {
                        @String.Format("{0:dddd, MMMM d, yyyy}", Model[i].Created)
                    }
                </td>
                <td>
                    @String.Format("{0:dddd, MMMM d, yyyy}", Model[i].LastModified)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

@section Scripts{

    <script src="https://unpkg.com/bootstrap-table@1.20.2/dist/bootstrap-table.min.js"></script>

    <script>
        $(function () {
            $('#table').bootstrapTable()
        })
    </script>
}