@model List<Snips.Models.BlogDTO>
@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/github.min.css" integrity="sha512-0aPQyyeZrWj9sCA46UlmWgKOP0mUipLQ6OZXu8l4IcAmD2u31EPEy9VcIMvl7SoAaKe8bLXZhYoMaE/in+gcgA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container">
    <div class="row">
        <div class="col-10">
            @foreach (var note in Model)
            {
                <div class="card mt-5">
                    <div class="card-header">
                        <h3>
                            <a asp-controller="Blogs" asp-action="DetailsBySlug" asp-route-slug="@note.Slug">@note.Name</a>
                        </h3>
                    </div>
                    <div class="card-body">
                        <p class="card-text">@Html.Raw(note.Content)</p>
                        @if (User.IsInRole("Admin"))
                        {
                            <a asp-controller="Blogs" asp-action="DetailsById" asp-route-id="@note.Id"
                               class="btn btn-primary float-end ms-2">
                                Edit
                            </a>
                        }
                        <a asp-controller="Blogs" asp-action="DetailsBySlug" asp-route-slug="@note.Slug"
                           class="btn btn-primary float-end ms-2">
                            View
                        </a>
                    </div>
                    <div class="card-footer text-muted text-center">
                        Published on @note.Created.ToString("MM/dd/yyyy")
                    </div>
                </div>
                <div class="row">
                </div>
            }

        </div>
        <div class="col-2">
            <h5>Recent Blog Posts</h5>
            <hr/>
            @foreach (var note in Model)
            {
                <h6>
                    <a asp-controller="Blogs" asp-action="DetailsBySlug" asp-route-slug="@note.Slug">@note.Name</a>
                </h6>
            }
        </div>

    </div>
</div>
@section Scripts {
    <script>
    hljs.configure({   // optionally configure hljs
      languages: ['javascript', 'java']
    });
    </script>
}